@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-inter: 'Inter', Arial, Helvetica, sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1F2937;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1f2937; /* Tailwind gray-800 */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #374151; /* Tailwind gray-700 */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4b5563; /* Tailwind gray-600 */
}

/* Firefox support */
* {
  scrollbar-width: thin;
  scrollbar-color: #374151 #1f2937;
}


/* Remove default spinner styles */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

